<div class="game-container" (click)="!gameStarted">
  <!-- <h2 class="game-title" *ngIf="gameStarted">Da vuelta la carta ganadora</h2> -->
  <div class="cards-grid" *ngIf="gameStarted" [style.grid-template-columns]="'repeat(' + columns + ', 1fr)'">
    <div 
      *ngFor="let card of cards; let i = index"
      class="card"
      [class.winner]="card.isWinner && card.flipped"
      [class.disabled]="!canClickCards"
      (click)="flipCard(i)"
    >
      <div class="card-inner" [class.flipped]="card.flipped">
        <div class="card-front" [class.winner]="card.isWinner" [class.loser]="!card.isWinner">
        </div>
        <div class="card-back">
        </div>
      </div>
    </div>
  </div>

  <div class="message-overlay" *ngIf="showMessage" [class.win]="messageType === 'win'">
    <form #phoneForm="ngForm">
    <div class="message-content">
      <button class="close-button" (click)="closeMessage()">
        <i class="fas fa-times"></i>
      </button>
      
      <h2 *ngIf="messageType == 'win'" class="win">
        <div class="win-message-line">
          {{ message }}
          <i class="fas fa-trophy animate__animated animate__tada gold-trophy"></i>
          <i  class="fas fa-trophy animate__animated animate__tada gold-trophy"></i>
        </div>
        <div class="win-message-line tita-line">
          <span>Ganaste una Tita</span>
          <img src="assets/images/tita.png" alt="Tita" class="tita-image">
        </div>
      </h2>

      <h2 *ngIf="messageType != 'win'" class="lose">
        {{ message }}
      </h2>

      

      <div class="phone-form" *ngIf="!phoneSubmitted">
        <p>¡Déjanos tu número para futuras promociones!</p>
        
          <div class="form-group">
            <input 
              type="tel" 
              [(ngModel)]="phoneNumber" 
              name="phoneNumber"
              placeholder="Ingresa tu número de teléfono"
              pattern="[0-9]{10}"
              required
              #phone="ngModel"
            >
            <div class="error-message" *ngIf="phone.invalid && phone.touched">
              Ingresa un número válido de 10 dígitos
            </div>
          </div>
          <button type="button" (click)="submitPhone(phoneForm)" [disabled]="phoneForm.invalid">Enviar</button>
        
      </div>
      <div *ngIf="phoneSubmitted && phoneNumber != ''" class="success-message">
        ¡Gracias! Tu número ha sido registrado.
      </div>
    </div>
  </form>
  </div>

  <div class="start-message" *ngIf="!gameStarted">
    <h2>¡Toca la pantalla para comenzar!</h2>
  </div>
</div> 